<header class="header">
  <section class="header__container container">
    <div class="nav">
      <div class="logo__space">
        <img class="nav__logo" src="./images/logo.png" alt="" />
      </div>
      <a class="nav__link" href="index.html">Home</a>
      <a class="nav__link" id="allFavoritesButton" href="#2">Favorites</a>
    </div>
    <div class="search">
      <input class="nav__input" type="text" placeholder="Search" />
      <div class="toggle__theme" onclick="changeTheme()">
        <div class="sircle"></div>
      </div>
    </div>
  </section>
</header>
