<section class="hero__container container">
  <div class="hero__text-place">
    <h1 class="hero__title">A party without cocktails is not like a party</h1>
    <h3 class="hero__subtitle">Search your favorite cocktail by ABC</h3>
    <div class="hero__abc">
      <a href="#1" class="hero__abc-item">A</a>
      <a class="hero__abc-item" href="#1">B</a>
      <a class="hero__abc-item" href="#1">C</a>
      <a class="hero__abc-item" href="#1">D</a>
      <a class="hero__abc-item" href="#1">E</a>
      <a class="hero__abc-item" href="#1">F</a>
      <a class="hero__abc-item" href="#1">G</a>
      <a class="hero__abc-item" href="#1">H</a>
      <a class="hero__abc-item" href="#1">I</a>
      <a class="hero__abc-item" href="#1">J</a>
      <a class="hero__abc-item" href="#1">K</a>
      <a class="hero__abc-item" href="#1">L</a>
      <a class="hero__abc-item" href="#1">M</a>
      <a class="hero__abc-item" href="#1">N</a>
      <a class="hero__abc-item" href="#1">O</a>
      <a class="hero__abc-item" href="#1">P</a>
      <a class="hero__abc-item" href="#1">R</a>
      <a class="hero__abc-item" href="#1">S</a>
      <a class="hero__abc-item" href="#1">T</a>
      <a class="hero__abc-item" href="#1">Q</a>
      <a class="hero__abc-item" href="#1">U</a>
      <a class="hero__abc-item" href="#1">V</a>
      <a class="hero__abc-item" href="#1">W</a>
      <a class="hero__abc-item" href="#1">X</a>
      <a class="hero__abc-item" href="#1">Y</a>
      <a class="hero__abc-item" href="#1">Z</a>
      <a class="hero__abc-item" href="#1">1</a>
      <a class="hero__abc-item" href="#1">2</a>
      <a class="hero__abc-item" href="#1">3</a>
      <a class="hero__abc-item" href="#1">4</a>
      <a class="hero__abc-item" href="#1">5</a>
      <a class="hero__abc-item" href="#1">6</a>
      <a class="hero__abc-item" href="#1">7</a>
      <a class="hero__abc-item" href="#1">8</a>
      <a class="hero__abc-item" href="#1">9</a>
      <a class="hero__abc-item" href="#1">0</a>
    </div>
  </div>
  <img src="./images/10.png" alt="" class="hero__img" />
</section>

<section class="cocktail-section container">
  <h2 class="cocktail-section-text" id="1">Available Cocktails</h2>
  <div class="cocktail-list"></div>
</section>

<section class="favorites-section container">
  <h2 class="favorites__text" id="2">Favorites</h2>
  <div class="favorites-list"></div>
</section>
